BOT_TOKEN=your_telegram_bot_token
ADMIN_ID=123456789
DEEPGRAM_API_KEY=your_deepgram_api_key
GOOGLE_SERVICE_ACCOUNT_FILE=path/to/service_account.json
GOOGLE_DRIVE_PARENT_ID=
GOOGLE_SHARED_DRIVE_ID=
GOOGLE_OAUTH_CLIENT_FILE=C:\home\vulcan4ik\voice-helper-bot\client_secret_159073475067-urn6ifb1dtrnj30tr8v68di483eagjb5.apps.googleusercontent.com.json
GOOGLE_OAUTH_TOKEN_FILE=path/to/token.json
ADMIN_ID= your_telegram_user_id 